<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Izvještaj o broju polazaka</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h1><%= title %></h1>

<table>
    <thead>
    <tr>
        <th>Šifra linije</th>
        <th>Naziv linije</th>
        <th>Broj polazaka period 1</th>
        <th>Broj polazaka period 2</th>
    </tr>
    </thead>
    <tbody>
    <% for(let i = 0; i < izvjestaj[0].length; i++){%>
        <tr>
            <td><%= izvjestaj[0][i].sifra_linije %></td>
            <td><%= izvjestaj[0][i].naziv_linije %></td>
            <td><%= izvjestaj[0][i].broj_polazaka_period_1 %></td>
            <td><%= izvjestaj[0][i].broj_polazaka_period_2 %></td>
        </tr>
    <% } %>
    </tbody>
</table>

</body>
</html>
